:root {
    --primary-color: #055a05;
    --secondry-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 16px;
    background-color: var(--accent2-color);
}

h3 {
    margin: 16px 16px 0 16px;
    padding: 8px 8px 4px 8px;
    background-color: var(--secondry-color);
    width: fit-content;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #ffff;
}

.hero article {
    position: absolute;
    top: 400px;
    width: 95%;
    text-align: left;
    background-color: var(--accent1-color);
    color: #ffff;
    border-radius: 8px;
}

footer {
    border-top: 2px solid black;
}

footer a img {
    width: 32px;
    height: 32px;
}


/* Class Section  */

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 150px;
    padding: 5px;
    border-radius: 8px;
}



