/* Site Plan Color Variables */
:root{
    --secondry-color: #264969;
    --primary-color:  #505033;
    --accent1-color: #CFCFB4;
    --accent2-color: #B4CDE4;
    --body-font:  Roboto;
    --heading-font: Georgia;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}
article{
    position: absolute;
    background-color: var(--secondry-color);
    border-radius: 16px;
    top: 414px;
    margin: 0;
}
img{
    border-radius: 16px;
}
footer{
    font-size: large;
    clear: both;
    color: black;
}
footer img{
    align-content: center;
    width: 5%;
    justify-items: space-around;
}
.socialmedia, a {
    text-decoration: none;
}
.hero{
    position: relative;
    font-size: medium;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article img {
    float: right;
    margin: 8px;
    padding: 4px;
    width: 25%;
    border-radius: 30%;
}
.hero > p{
    position: absolute;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    top: 100px;
    width: 50%;
    margin: 0 200px;
    align-self: center;
    color: var(--primary-color);
}
.adventure{
    background-color: var(--secondry-color);
    border-radius: 16px;
}
.adventure h2{
    margin: 5px 250px;
    color: var(--primary-color);
    font-size: 25px;
    align-content: center;
}
.adventure img{
    width: 50%;
    margin: 0 8px 8px 0;
    padding: 8px;
    /* justify-content: space-around; */
}