:root {
    --background-color: #A0522D;
    --text-color: #F9FAFB;
    --span-color: darkblue;
    --button-color: #1E3A8A;
    --button-text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--span-color);
    font-size: 25px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    color: var(--text-color);
    border-radius: 5px;
    background-color: var(--background-color);
}

span {
    color: var(--span-color);
    font-weight: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form input, form textarea, form select {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  color: #6B7280;   /* darker gray */
}


form button {
    background-color: var(--button-color);
    padding: 8px;
    margin: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: var(--button-text)
}

