table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
}

th, td {
    border: 1px solid rgb(150, 150, 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr, tfoot tr {
    background: rgb(0, 0, 0);
    font-weight: 700;
    color: white;
}