:root {
    --primary-color: #f2d7ee;
    --secondary-color: #d3bcc0;
    --accent1-color: #a5668b;
    --accent2-color: #69306d;
    --heading-font: 'Roboto', sans-serif;
    --text-font: 'Open Sans', sans-serif;
    --padding: 1rem;
}

body {
    font-family: var(--text-font);
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    /* width: 100vw; */
    background-color: var(--accent1-color);
    padding: var(--padding);
}

nav a {
    display: block;
    padding: var(--padding);
    color: black;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 20%;
}

header img {
    padding: 0.625(var(--padding));
    width: 100px;
    height: auto;
}

main h1, h2, p {
    color: black;
}

/* Other existing styles */