:root {
    --primary-color: #10a5b2;
    --secondary-color: #b7e3fa;
    --accent1-color: #f8f6f1;
    --accent2-color: #eddfa6;
    --accent3-color: #f7a173;
    --heading-font: 'Roboto', sans-serif;
    --text-font: 'Open Sans', sans-serif;
    --padding: 1rem;
}
*{
    max-width: 100vw;
}

body {
    font-family: var(--text-font);
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    /* width: 100vw; */
    background-color: var(--accent3-color);
    padding: var(--padding);
}

nav a {
    display: block;
    padding: var(--padding);
    color: black;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 20%;
}

header img {
    padding: 0.625(var(--padding));
    width: 100px;
    height: auto;
}

main h1, h2, p {
    color: black;
}

.hero{
    display:block;
    margin: 1rem auto;
    width: 100vw;
}

.hero > img {
    position: relative;
    width: 100%;
    height: auto;
}

.hero > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent3-color);
    font-size: 4rem;
    font-family: var(--heading-font);
    text-align: center;
}

article {
    margin: 1rem auto;
    padding: var(--padding);
    width: 20vw;
    border: 1px solid var(var(--secondary-color));
    background-color: var(--accent1-color);
    align-self: center;
}
article img {
    width: 100%;
    height: auto;
}

section {
    margin: 1rem auto;
    padding: var(--padding);
    width: 100vw;
    background-color: var(--accent1-color);
}
.adventure {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    margin: 1rem auto;
    width: 100vw;
    background-color: var(--accent1-color);
}
.adventure h2 {
    display: block;
    color: var(--accent3-color);
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
}

.adventure img {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: block;
    float: left;
    margin: 1rem auto;
    box-shadow: 0 0 10px var(--accent3-color);
    width: 15%;
    height: 200px;
}
/* Other existing styles */