.callout {
	margin: 5px;
    padding: 10px;
    max-width: 400px;
    background-color: steelblue;
    color: white;
    border:2px solid white;
}

.callout img {
	float:right;
    margin: 5px;
    width: auto;
    height: 100px;
    border: 2px double gainsboro;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    text-align: right;
    font-size: smaller;
    font-style: italic;
    padding-top: 5px;
    border-top: 1px dotted white;

}