:root{
    --main-bg-color: #f0f8ff;
    --nav-bg-color: darkblue;
    --nav-link-color: white;
    --aside-border-color: darkblue;
    --footer-border-color: #000;
    --text-color: #333333;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}
nav a {
    color: var(--nav-link-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--nav-bg-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 1024px;
}
aside {
    width: 750px;
    margin: 20px auto;
    border: 2px solid darkblue;
    padding: 15px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

aside img{
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 2px solid #000;
    text-align: center;
}