* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #f0f8ff;
    --nav-bg-color: darkblue;
    --nav-link-color: white;
    --aside-border-color: darkblue;
    --footer-border-color: #000;
    --text-color: #333333;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}
nav a {
    color: var(--nav-link-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--nav-bg-color);
}
main img {
    float: right;
    margin: 0 1rem 1rem;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    margin: 1rem;
    padding: 1rem;
    max-width: 1024px;
}
aside {
    position: relative;
    width: 750px;
    text-align: center;
}
aside h2{
    position: absolute;
    top: 25px;
    left: 280px;
    padding: 5px;
    border-bottom: 2px solid black;
    color: black;
}

aside img{
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 2px solid #000;
    text-align: center;
}

/* Class selector */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid darkblue;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    clear: both;
}