:root{
    --background-color: #eee;
    --color: #333;
    --fontt-size: 1rem;
    --margin: 1rem;
    --padding: 1rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 840px;
}
aside{
    width: 25em;
    text-align: center;
    /* position: relative; */
}
aside img{
    width: 300px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 320px;
    left: 80px;
    color: var(--background-color);
}
main img{
    margin: 0 0 1rem 1rem;
    width: 150px;
    height: auto;
    float: right;
    border: 1.5px solid #000;
    box-shadow: 0 2px 8px rgb(57, 57, 57);
}
p{
    padding: 0;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selector  */
.box {
    margin: var(--margin);
    padding: var(--margin);
    background-color: var(--background-color);
    color: var(--color);
    border: 1px solid rgb(0, 0, 0 / 0.2);
}