header {
    background-color: #333;
    color: #f4f4f4;
    font-size: 1.5em;
    padding: 5px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
section {
    box-sizing: border-box;
    max-width: 780px;
    background-color: #ccc;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: #555;

}
section h2 {
    color: #444;
    font-size: 2em;
    border-bottom: 2px solid #333;
}

footer {
    background-color: #333;
    color: #f4f4f4;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}