header {
    background-color: #333;
    color: #f4f4f4;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px 10px grey;
}

main {
    max-width: 500px;
    margin: 0 auto;
}
section {
    box-sizing: border-box;
    background-color: #ccc;
    margin: 20px auto;
    padding: 20px;
    font-size: 1em;
    font-family: 'Georgia', serif;
    /* line-height: 1.6; */
    color: black;

}
section h2 {
    color: black;
    font-size: 1.5em;
    border-bottom: 2px solid #333;
}

footer {
    background-color: #333;
    color: #f4f4f4;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}